<footer class="page-footer">
    <div class="footer-container">
        <div class="footer-info">
          <a class="logo-brand" href="./index.html"><svg class="icon-logo" width="16" height="16">
            <use href="/img/icons/icons.svg#icon-logo-mob"></use>
          </svg>
          <svg class="icon-logo" width="146" height="12">
            <use href="/img/icons/icons.svg#icon-text-mob"></use>
          </svg>
        </a>
          <p class="footer-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice</p>
        </div>

 <div class="footer-nav">
     <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="/src/index.html" id="how-it-works">how it works</a></li>
        <li class="nav-item"><a class="nav-link" href="/src/index.html"          id="vegetables">vegetables<a></li>
            <li class="nav-item"><a class="nav-link" href="/src/index.html" id="contacts">reviews</a>
            </li>
          </ul>
            <ul class="contacts-adress">
                <li class="contacts-item">
                    <a class="contacts-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
                </li>
                <li class="contacts-item"><a class="contacts-link" href="">1678 S. Pioneer Road Salt<br>Lake Cit
                </li>
            </ul>
        </div>
    </div>
          
        <a class="privacy-policy">Privacy Policy / Cookie settings<span class="logo-green">©GreenHarvest 2023</span></a>
</footer>
