<header class="header">
  <div class="container">
    <a href="../index.html" class="logo">
      <!--Mobile icon -->
      <svg class="icon-logo mob-icon" width="16" height="16">
        <use href="/img/icons/icons.svg#icon-logo-mob"></use>
      </svg>
      <svg class="icon-text-logo mob-icon" width="148" height="12">
        <use href="/img/icons/icons.svg#icon-text-mob"></use>
      </svg>
      <!--Tablet icon -->
      <svg class="icon-logo tablet-icon" width="18" height="18">
        <use href="/img/icons/icons.svg#icon-logo-desk"></use>
      </svg>
      <svg class="icon-text-logo tablet-icon" width="168" height="15">
        <use href="/img/icons/icons.svg#icon-text-desk"></use>
      </svg>
    </a>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#how-it-works">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
      <button class="shop-now-btn" type="button">Shop Now</button>
    </nav>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="/img/icons/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <!-- Mobile menu -->
  <div class="mobile-menu" data-menu>
    <div class="mobile-menu-container">
      <button class="modal-close-btn" type="button" data-menu-close>
        <svg class="modal-icon-close" width="16" height="16">
          <use href="/img/icons/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="mobile-nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#how-it-works">How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <button class="shop-now-btn shop-now-btn-menu" type="button">
        Shop Now
      </button>
    </div>
  </div>
</header>
