<section class="howitwork-section">
  <div class="container container-how-it-work">
    <h2 class="visually-hidden">How it work</h2>
    <div class="photo-howitwork-wrapper">
      <picture>
        <source
          srcset="
            /img/howitwork/cook_desk.jpg     1x,
            /img/howitwork/cook_desk3@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            /img/howitwork/cook_tab.jpg    1x,
            /img/howitwork/cook_tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            /img/howitwork/cook_mob.jpg    1x,
            /img/howitwork/cook_mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="img-howitwork"
          src="/img/howitwork/cook_mob.jpg"
          srcset="/img/howitwork/cook_mob@2x.jpg 2x"
          alt="Cooking image"
        />
      </picture>
    </div>
    <div class="info-howitwork-wrapper">
      <h3 class="info-hoitwork-title">
        To order your
        <span class="info-hoitwork-title-span">vegetable</span> basket, simply
        follow these <span class="info-hoitwork-title-span">easy steps</span>
      </h3>
      <p class="info-hoitwork-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="custom-list-howitwork">
        <li class="custom-list-item">
          <div class="counter-wrapper"></div>
          <p class="custom-list-text">
            Just choose
            <span class="custom-list-item-span">the vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="custom-list-item-span">next to it</span>.
          </p>
        </li>

        <li class="custom-list-item">
          <div class="counter-wrapper"></div>
          <p class="custom-list-text">
            Click on <span class="custom-list-item-span">the basket</span> and
            fill out the form.
          </p>
        </li>

        <li class="custom-list-item">
          <div class="counter-wrapper"></div>
          <p class="custom-list-text">
            Sit back and relax! Your
            <span class="custom-list-item-span">fresh vegetables</span> basket
            will be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
