<section id="vegetables">
  <div class="container vegetables">
    <h2 class="vegetables-title">organic <span class="vegetables-span">vegetables</span></h2>
    <p class="vegetables-texts">Our organic vegetables are hand-picked from local 
    farms and delivered straight to your doorstep,
    ensuring that you get the freshest and most 
    utritious produce possible.</p>
    <ul class="vegetables-menu">
        <li class="vegetables-list">
            <h3 class="vegetables-name">eggplant</h3>
            <p class="vegetables-text">60 USD / kg</p>
            <img class="vegetables-img"
            srcset="/img/vegetables/eggplant@2x.png"
            src="/img/vegetables/eggplant.png" 
            alt="eggplant"
            width="282" height="243">
        </li>
        <li class="vegetables-list">
            <h3 class="vegetables-name">leek</h3>
            <p class="vegetables-text">50 USD / kg</p>
            <img class="vegetables-img"
            srcset="/img/vegetables/leek@2x.png"
            src="/img/vegetables/leek.png" 
            alt="leek"
            width="282" height="243">
        </li>
        <li class="vegetables-list">
            <h3 class="vegetables-name">mushrooms</h3>
            <p class="vegetables-text">40 USD / kg</p>
            <img class="vegetables-img"
            srcset="/img/vegetables/mushrooms@2x.png"
            src="/img/vegetables/mushrooms.png" 
            alt="mushrooms"
            width="282" height="243">
        </li>
        <li class="vegetables-list">
            <h3 class="vegetables-name">corn</h3>
            <p class="vegetables-text">60 USD / kg</p>
            <img class="vegetables-img"
            srcset="/img/vegetables/corn@2x.png"
            src="/img/vegetables/corn.png" 
            alt="corn"
            width="282" height="243">
        </li>
        <li class="vegetables-list">
            <h3 class="vegetables-name">sweet potatoes</h3>
            <p class="vegetables-text">50 USD / kg</p>
            <img class="vegetables-img"
            srcset="/img/vegetables/potatoes@2x.png"
            src="/img/vegetables/potatoes.png" 
            alt="sweet potatoes"
            width="282" height="243">
        </li>
        <li class="vegetables-list">
            <h3 class="vegetables-name">carrot</h3>
            <p class="vegetables-text">40 USD / kg</p>
            <img class="vegetables-img"
            srcset="/img/vegetables/carrot@2x.png"
            src="/img/vegetables/carrot.png" 
            alt="carrot"
            width="282" height="243">
        </li>     
    </ul>
  </div>
</section>