.page-footer {
    background-color: #7A3145;
    width: 375px;
    padding: 0;
    
   
 }

 .footer-container {
    display: flex;
    flex-direction: column;
     
     
    padding: 40px 20px;
    
 }
 .footer-info {
    max-width: 296px;
    margin-bottom: 40px;
 }
     
 .footer-text {
    max-width: 296px;
    display: flex;
    font-weight: 500;
    font-size: 14px;
     margin: 0;
 }
  ul,ol {
    list-style-type: none;
     }
     a {
        text-decoration: none;
     }
     .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 0;
        margin: 0;
    }
    .footer-nav {
        margin: 0;
    }
    .contacts-list {
        padding: 0;

        font-weight: 600;
        font-size: 14px;
        margin-bottom: 80px;
    }
    .contacts {
        display: flex;
        flex-direction: column;
         align-items: flex-start;
        padding: 0;
        
    }
     .contacts-item {
        margin-bottom: 14px;
     }
     .nav-item {
        margin-bottom: 14px;
        font-weight: 600;
        font-size: 28px;
     }

     .footer-privacy {
        max-width: 335px;
        display: flex; 
     }
     .privacy-policy {
        width: 171px;
        font-weight: 500;
        font-size: 12px;
        margin-right: 49px;
        letter-spacing: -0.01em;
        color: rgba(251, 251, 251, 0.5);
    }
    .brand-logo {
        width: 115px;
        font-weight: 500;
        font-size: 12px;
        margin: 0;
        letter-spacing: -0.01em;
        color: rgba(251, 251, 251, 0.5);
    }

    @media screen and (min-width: 768px) {
        .container {
            max-width: 768px;
        }
        .footer-container {
            align-items: baseline;
        }

    }     