.page-footer {
  padding-bottom: 40px;
  padding-top: 40px;
}
.footer-container {
  margin-bottom: 80px;
}
.logo-brand-svg {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
}
.footer-info {
  max-width: 265px;
}
.icon-logo-footer,
.icon-logo-text-footer,
.icon-logo-tab-footer,
.icon-logo-text-tab-footer {
  fill: #fbfbfb;
}
@media screen and (max-width: 767.9px) {
  .icon-logo-tab-footer,
  .icon-logo-text-tab-footer {
    display: none;
  }
}
.footer-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}
.footer-nav {
  margin-bottom: 40px;
}
.footer-nav-list {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
}
.nav-link-footer {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.footer-contacts-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.contacts-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 14px;
}
.footer-privacy {
  display: flex;
  justify-content: space-between;
}
.privacy-policy-link,
.privacy-policy-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}
.footer-privacy-wrap1 {
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .page-footer {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .icon-logo-footer,
  .icon-logo-text-footer {
    display: none;
  }
  .footer-container {
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer-info {
    max-width: 265px;
  }
  .logo-brand-svg {
    margin-bottom: 25px;
  }
  .footer-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 0;
  }
  .footer-nav-item {
    font-size: 32px;
    margin-bottom: 0;
  }
  .contacts-adress {
    width: 215px;
  }
  .footer-contacts-item {
    font-size: 18px;
    line-height: 1.1;
  }
  .footer-nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 64px;
  }
  .footer-nav-list {
    margin-bottom: 0;
  }
  .privacy-policy-link {
    font-size: 18px;
    line-height: 1.1;
  }
  .privacy-policy-text {
    font-size: 18px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1280px) {
  .page-footer {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #fbfbfb;
  }
  .footer-nav {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 121px;
  }
  .contacts-link {
    font-size: 18px;
  }
}
