.hero-section {
    background-color: #576f35;
    padding-top: 48px;
    padding-bottom: 40px;
    background-image: linear-gradient(rgba(20, 20, 20, 0.2), 
    rgba(20, 20, 20, 0.2)), url(../img/hero/vgtbl_mob.jpg);
   background-size: cover;
    background-repeat: no-repeat;
}

.hero-header {
    font-weight: 600;
        font-size: 48px;
        line-height: 1;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        max-width: 335px;
        margin-bottom: 20px;
}

.hero-text {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.28571;
        color: #fbfbfb;
        max-width: 335px;
}

